<ul id="tabs-swipe-demo" class="tabs">
  <li class="tab col s3"><a class="active" href="#test-swipe-1">Add class</a></li>
  <li class="tab col s3"><a  href="#test-swipe-2">View Classes</a></li>
  <li class="tab col s3"><a href="#test-swipe-3">Extra Tab</a></li>
</ul>
  <div id="test-swipe-1" class="col s12 " >
  
<!-- Add class content -->
<!-- <div class="main">
  <div class="row">
    <div class="input-field col s3">
      <input type="text" id="autocomplete-input" class="autocomplete">
      <label for="autocomplete-input">Autocomplete</label>
    </div>
  </div>
</div> -->

  Add New class
<h3>New class</h3>

</div>
  <div id="test-swipe-2" class="col s12 " >
  
  View class content

</div>
  <div id="test-swipe-3" class="col s12 " >
  
  Extra tab content

</div>

  <script>
      $('.tabs').tabs();

  
  </script>