    <li class="bold"><a href="#" class="waves-effect waves-teal">Classes</a></li>
    <li class="bold"><a href="#" class="waves-effect waves-teal">Teachers</a></li>
    <li class="bold"><a href="#" class="waves-effect waves-teal">Students</a></li>
</ul>

<ul id="slide-out" class="side-nav fixed">
    <a href="#" style="padding:5%;font-size:150%" data-target="nav-mobile" class="top-nav sidenav-trigger full hide-on-large-only"><b class="material-icons">&#x2630;</b></a>
</ul>
