<ul id="tabs-swipe-demo" class="tabs">
    <li class="tab col s3"><a class="active" href="#test-swipe-1">Add Students</a></li>
    <li class="tab col s3"><a  href="#test-swipe-2">View Students</a></li>
    <li class="tab col s3"><a href="#test-swipe-3">Extra Tab</a></li>
  </ul>
 <div id="test-swipe-1" class="col s12 " style="background-color:#0cbcd4">
    
    Add Students
  
  </div>
 <div id="test-swipe-2" class="col s12 " style="background-color:#ff6b6b">
    
    View Students
  
  </div>
 <div id="test-swipe-3" class="col s12 " style="background-color:#52e3d2">
    
    Extra tab content
  
  </div>
  
 <script>

        $('.tabs').tabs();
    
    </script>